<mat-toolbar class="header mat-elevation-z4">
    <div class="esquerda">

        <span>
            <a>
                <img routerLink="/" class="logo" src="assets/logo.png" alt="logo">
            </a>
        </span>
    </div>
    <div class="direita">
        <span>
            <a>
                <i routerLink="/menu" class="btn-menu material-icons">
                    menu
                </i>
                Menu
            </a>
        </span>
        <span>
            <a>
                <i routerLink="/login" class="btn-login material-icons">
                    login
                </i>
                Login
            </a>

        </span>
    </div>
</mat-toolbar>