<div id="teste">
    <mat-card class="log">
        <mat-card-title class="title">Bem Estar</mat-card-title>
        <form>
            
            <mat-card class="mat-elevation-z5 card">
            <span>
                
                <p>
                    Olá, aqui vamos dexiar algumas dicas para ajudar você a se recuperar da melhor forma possível.
                </p>
            </span>
            </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    1. Evite alimentos gordurosos (ex: carne vermelha, bacon, linguiça e frituras...)
                </p>
            </span>
            </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    2. Incorpore em suas dietas alimentos ricos em proteínas magras (ex: frango e peixes), frutas e vegetais frescos, cereais integrais (ex; aveia e arroz integral)
                </p>
            </span>
        </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    3. Caso o medico receite algum medicamento para sua recuperaçao, tome de acordo com sua receita médica
                </p>
            </span>
        </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    4. Após o repouso de pelo menos 3 dias, comece pequenas caminhadas para exercitar seu corpo
                </p>
            </span>
        </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    5. Não deixe de ir ao médico para realizar seus exames pós operatórios.
                </p>
            </span>
        </mat-card>

            <mat-card class="mat-elevation-z5 card">
            <span>
                <p>
                    6. Evite o consumo de bebidas gaseificadas.
                </p>
            </span>
        </mat-card>

            
            <button class="voltar" routerLink="/menu" mat-raised-button (click)="voltar()" color="warn">
                Voltar
            </button>
        </form>
    </mat-card>
</div>