.home{
    display: block;
    margin: 5px;
    height: 85vh;
}

.home .title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}
.voltar{
    margin-bottom: 35px;
}