<div id="teste">
    <mat-card class="log">
        <mat-card-title class="title">Recuperar Senha</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="email" id="name">
            </mat-form-field>
            <div class="diversos">
            </div>
            <button routerLink="/login" mat-raised-button (click)="voltar()" color="primary">
                Enviar
            </button>
            <button class="voltar" routerLink="/" mat-raised-button (click)="voltar()" color="warn">
                Voltar
            </button>
        </form>
    </mat-card>
    </div>