<div class="hover" routerLink="/editar-perfil">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Editar Perfil</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Altere seus dados sempre que quiser
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/procedimento">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Procedimento</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Conte-nos sobre seu procedimento
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/dados-hospitalares">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Dados Hospitalares</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Conte-nos um pouco mais sobre você...
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/intercorrencias">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Intercorrências</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Não se sentiu bem? Por favor nos conte o que está acontecendo!!
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/pre-cirurgicos">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Pré Cirúrgicos</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Nos conte um pouco de como foi seu pré-operatório.
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/pos-cirurgicos">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Pós Cirúrgicos</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Conte como você está se sentindo após seu procedimento
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/feedback">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Feedback</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Fale-nos um pouco do que achou de tuuuudo isso!
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/assistente-virtual">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Assistente Virtual</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Tire suas dúvidas Mais Frequentes
        </mat-card-subtitle>
    </mat-card>
</div>

<div class="hover" routerLink="/bem-estar">
    <mat-card class="item mat-elevation-z3">
        <mat-card-title class="title">Dicas de Bem Estar Pós Cirurgico</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Veja algumas sugestões de como potencializar sua recuperação.
        </mat-card-subtitle>
    </mat-card>
</div>

